body {
    font-family: sans-serif;
    padding: 15px;
    background-color: rgb(242, 253, 242);
}

header {
    background-image: linear-gradient(rgb(19, 184, 27),rgb(0, 94, 42));
    height: 60px;
    font-size: 25px;
    padding-top: 10px;
    

    
}
a {
    margin: 40px;

}
h1 {
    color: rgb(2, 100, 19);
}
.link-header {
    color: rgb(0, 0, 0);
}
.link-nav{
    color: black;
}
.social{
    box-shadow: 6px 8px 5px 5px green;
}
